@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-image-gallery/styles/css/image-gallery.css";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800;0:900&family=Raleway:wght@700;900&family=Comfortaa:wght@300;700&display=swap");

@layer base {
	* {
		@apply default:text-dark;
		@apply transition-all;

		font-size: 14px;
	}

	::-webkit-scrollbar {
		@apply w-2;
		@apply h-2;
	}

	/* Scrollbar Track */
	::-webkit-scrollbar-track {
		@apply bg-background;
	}

	/* Scrollbar Handle */
	::-webkit-scrollbar-thumb {
		@apply bg-gradient-to-r from-cyan-500 to-blue-500;
	}

	/* Scrollbar Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		@apply bg-gradient-to-r from-cyan-600 to-blue-600;
	}
}

.fullscreen .image-gallery-slide img {
	max-height: 100vh;
}

.drop-file-input.dragover {
	opacity: 0.6;
}
